@model IEnumerable<Core.Models.Advert>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div>@Html.Partial("_Advert", null)</div>
    <div>@Html.Partial("_Advert", null)</div>
    <div>@Html.Partial("_Advert", null)</div>
    <div>@Html.Partial("_Advert", null)</div>
    <div>@Html.Partial("_Advert", null)</div>
    <div>@Html.Partial("_Advert", null)</div>
    <div>@Html.Partial("_Advert", null)</div>
</div>